
.react-article-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.react-article-list li {
  list-style: none;
}

.react-card {
  display: block;
  padding: 1em;
  background-color: var(--color-secondary);
  border: var(--border-width) solid var(--color-card-text);
  border-radius: 10px;
  box-shadow: 10px 10px 0px var(--color-card-text);
  margin: 0 10px 10px 0;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

a.react-card:hover {
  box-shadow: 7px 7px 0px var(--color-card-text);
  transform: translate(3px, 3px);
}

.react-card * {
  color: var(--color-card-text);
}

.react-flex {
  display: flex;
}

.react-flex.wrap {
  flex-wrap: wrap;
}

.react-flex.row {
  flex-direction: row;
}

.react-flex.column {
  flex-direction: column;
}

.react-flex.alignFlexStart {
  align-items: flex-start;
}

.react-flex.alignCenter {
  align-items: center;
}

.react-flex.justifySpaceBetween {
  justify-content: space-between;
}

.react-article-title {
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
          line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 10em;
}

.react-article-date {
  display: inline-block;
  min-width: 10em;
}

@keyframes Pulsate {
  from { opacity: 1; }
  50% { opacity: 0.4; }
  to { opacity: 1; }
}

.react-loading-skeleton {
  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;

  position: relative;
  overflow: hidden;
  z-index: 1; 

  animation: Pulsate 1.5s linear infinite;
  background-image: url(/img/checker.png);
}

.react-card .react-preview {
  --delay: 0s;
  overflow: hidden;
  position: relative;
  max-height: 0;
  opacity: 0;

  transition: all 200ms ease-in-out var(--delay);
}

.react-card:hover .react-preview {
  --delay: 1.5s;
  margin-top: 1em;
  opacity: 1;
  max-height: 300px;
}

.react-card .react-preview .react-preview-label {
  position: absolute;
  right: 1em;
  padding: 0.5em 0.8em;
  background-color: var(--color-secondary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 0 black;
  border-bottom: var(--border-width) solid black;
  border-left: var(--border-width) solid black;
  border-right: var(--border-width) solid black;
}

.react-card .react-preview .react-preview-label h3 {
  color: var(--color-card-text);
}

.react-card .react-preview .react-preview-content {
  padding: 1em;
  border-radius: 10px;
  border: var(--border-width) solid black;
  max-height: inherit;
  box-shadow: inset 4px 4px 0 black;
}

@media screen and (max-width: 600px) {
  .react-card .react-article-title {
    font-size: 1.2em;
  }
}

.react-task-board {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.react-task-column {
  width: 100%;
  min-width: 0;
}

.react-task-column ul {
  margin-left: 1em;
}

.react-task-column ul.react-task-column-skeleton {
  margin-left: 0;
}

.react-task-column .react-task-column-title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0.5em 0;
  padding-bottom: 0.3em;
  position: relative;
}

.react-task-column .react-task-column-title::after {
  content: " ";
  position: absolute;
  bottom: 0; left: 0; right: 0;
  height: var(--border-width);
  border-radius: 10px;
  background-color: var(--color-card-text);
}

.react-task-column .react-task-column-icon {
  margin-right: 0.3em;
  vertical-align: middle;
  flex-shrink: 0;
}

.react-task-column .react-task-column-icon svg {
  display: block;
}

.react-task-card-title {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.react-task-card-powered-by-notion {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.react-task-card-title-logo {
  display: flex;
  flex-shrink: 0;
}

.react-task-card-title-logo svg {
  width: 1.5em;
  height: 1.5em;
}

.react-task-card-load-more {
  display: block;
  background-color: transparent;
  border: var(--border-width) solid black;
  padding: 0.4em 0.5em;
  border-radius: 6px;
  font-family: inherit;
  font-weight: bold;
  box-shadow: 3px 3px 0px black;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.react-task-card-load-more:hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px black;
}
