---
import HtmlHead from "../layouts/html-head.astro";
import Section from "../components/section.astro";
import Card from "../components/card.astro";
import Container from "../components/container.astro";
import Separator from "../components/separator.astro";
import Flex from "../components/flex.astro";
import ActionButtons from "../components/action-buttons.astro";
import WindowTitleBar from "../components/window-title-bar.astro";
import MdStyling from "../components/md-styling.astro";
import RetroScroll from "../components/retro-scroll.astro";

const about = (await Astro.glob("../content/about.md"))[0];
---

<HtmlHead title="👋 Hello">
  <WindowTitleBar />
  <RetroScroll className={"scroll"}>
    <Section scrollIndicator scrollTo="#about">
      <Container padding={0} maxWidth={600}>
        <Flex direction="column" align="center" gap="2em">
          <Card>
            <h1 class="fancy-text showcase-content-title">
              Hi! I'm Marcos Eizayaga.<br />
              What's Up 👋!
            </h1>
          </Card>
          <ActionButtons />
        </Flex>
      </Container>
    </Section>
    <div class="container-wrapper">
      <Container padding={3} id="about" maxWidth={900}>
        <Flex direction="column" align="center" gap="2em">
          <Card>
            <h2 class="fancy-text">About Myself</h2>
            <Separator parentPadding="1em" lineHeight={2.5} showLine={true} />
            <MdStyling>
              <about.Content />
            </MdStyling>
          </Card>
          <ActionButtons />
        </Flex>
      </Container>
    </div>
  </RetroScroll>
</HtmlHead>

<style>
  .scroll {
    height: 100vh;
    overflow-x: hidden;
  }

  .separator {
    width: calc(100% + 2em);
    height: 3px;
    margin: 0px -1em;
    background-color: black;
  }

  .container-wrapper {
    background-color: var(--color-background);
  }

  .showcase-content-title {
    text-align: center;
  }
</style>
