---
export interface Props {
  url: string;
  text: string;
}
---

<a class="fancy-text" href={Astro.props.url}>{Astro.props.text}</a>

<style>
  a {
    display: inline-block;
    width: auto;
    margin-top: calc(-1em 0.5em);
    background-color: var(--color-secondary);
    border-top: var(--border-width) solid black;
    border-left: var(--border-width) solid black;
    border-right: var(--border-width) solid black;
    box-shadow: 4px -4px 0px black;
    border-radius: 7px 7px 0 0;
    padding: 0.5em;
    padding-bottom: 0.8em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: translate(-0.3em, 4.2em) rotate(90deg);
    transform-origin: 0 100%;
    text-decoration: none;
    transition: all 100ms ease-in-out;
  }

  a:hover {
    transform: translate(-0.1em, calc(4.2em + 4px)) rotate(90deg);
    box-shadow: 1px -1px 0px black;
  }
</style>
