<div class="md">
  <slot />
</div>

<style is:global>
  .md h1,
  .md h2,
  .md h3,
  .md h4,
  .md p,
  .md span {
    color: black;
  }

  .md h1 {
    font-family: "Ultra", "Roboto", sans-serif;
  }

  .md p {
    margin: 0.5em 0;
  }

  .md a {
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.2em;
    text-decoration: none;
    font-weight: 700;
    border: var(--border-width) solid black;
    border-radius: 8px;
    padding: 0 0.3em;
    box-shadow: var(--box-shadow);
    vertical-align: top;
    transition: all 100ms ease-in-out;
    overflow: hidden;
    margin-right: 0.2em;
  }

  .md a:hover {
    box-shadow: var(--box-shadow-hover);
    transform: translate(2px, 2px);
  }

  .md img {
    border: var(--border-width) solid black;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    background: url(/img/checker.png);
  }

  .md a img {
    border: none;
    box-shadow: none;
    padding: 0.3em 0 0 0;
    border-radius: 0;
    margin: 0 -0.3em -0.3em -0.3em;
  }

  .md table {
    border: var(--border-width) solid black;
    border-radius: 10px;
    border-spacing: 0;
    box-shadow: var(--box-shadow);
    margin: 0.5em 0;
    overflow: hidden;
  }

  .md th {
    background-color: var(--color-secondary-dark);
  }

  .md th,
  .md td {
    padding: 0.3em 0.7em;
    border-bottom: var(--border-width) solid black;
    border-right: var(--border-width) solid black;
  }

  .md table tr:last-child > td {
    border-bottom: none;
  }

  .md table tr th:last-child,
  .md table tr td:last-child {
    border-right: none;
  }

  .md pre {
    background-color: rgb(40, 44, 52) !important;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
    border: var(--border-width) solid black;
    box-shadow: var(--box-shadow);
  }

  .md ul,
  .md ol {
    padding-left: 1em;
    margin: 0.5em 0;
  }

  .md ul.contains-task-list {
    padding-left: 0em;
  }

  .md li.task-list-item {
    display: flex;
    list-style: none;
    align-items: center;
  }

  .md li.task-list-item input {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    background-color: transparent;
    display: block;
    width: 1.5em;
    height: 1.5em;
    border: var(--border-width) solid black;
    border-radius: 4px;
    margin-right: 0.5em;
  }

  .md li.task-list-item input:checked::before {
    content: " ";
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
  }

  .md section {
    border-top: var(--border-width) solid black;
    padding-top: 0.5em;
    margin: 1em 0;
  }

  .md ol li::marker {
    font-weight: 700;
  }

  .md a[data-footnote-backref] {
    font-weight: 700;
    vertical-align: top;
    line-height: 0.8em;
    padding-top: 0.2em;
  }
</style>
