---
export interface Props {
  className?: string;
  fullpage?: boolean;
}

const { className = "", fullpage = false } = Astro.props as Props;
---

<main class:list={["retro-scroll", className, fullpage && "fullpage"]}>
  <slot />
</main>

<style is:global>
  main.retro-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }
  main.retro-scroll::-webkit-scrollbar {
    width: 24px;
  }
  main.retro-scroll::-webkit-scrollbar-thumb {
    background: black;
  }
  main.retro-scroll::-webkit-scrollbar-track {
    border-left: var(--border-width) solid var(--color-card-text);
  }
  main.retro-scroll::-webkit-scrollbar-track {
    background: url(/img/checker.png);
    background-color: var(--color-secondary);
  }

  main.fullpage {
    height: calc(100vh - 48px);
    max-height: -moz-available;
    max-height: -webkit-fill-available;
    max-height: fill-available;
    padding-bottom: 2em;
  }
</style>
