---
export interface Props {
  sticky?: boolean;
}
const { sticky = false } = Astro.props;
---

<div class:list={["title-bar", sticky ? "sticky" : "fixed"]}>
  <div class="window-controls">
    <div class="close"></div>
    <div class="hide"></div>
    <div class="fullscreen"></div>
  </div>
  <div class="menu">
    <slot />
  </div>
</div>

<style>
  .title-bar {
    height: 3em;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--color-secondary);
    border-bottom: var(--border-width) solid var(--color-card-text);
    display: flex;
    align-items: center;
    padding: 1em;
    z-index: 9999;
  }

  .title-bar.sticky {
    position: sticky;
  }

  .window-controls {
    display: flex;
    gap: 0.25em;
    margin-right: 1em;
  }

  .close,
  .hide,
  .fullscreen {
    width: 1.25em;
    height: 1.25em;
    border: var(--border-width) solid var(--color-card-text);
    border-radius: 50%;
  }

  .close {
    background: url(/img/checker.png);
    background-position: 2px 2px;
  }

  .menu {
    display: flex;
    gap: 0.75em;
  }
</style>
