---
import BaseLayout from "../layouts/base-layout.astro";
import Separator from "../components/separator.astro";
import MdStyling from "../components/md-styling.astro";
import RetroScroll from "../components/retro-scroll.astro";
import Button from "../components/button.astro";
import { ArrowLeft, Article, House } from "phosphor-react";
import WindowTitleBar from "../components/window-title-bar.astro";
import Container from "../components/container.astro";
import Card from "../components/card.astro";
import Flex from "../components/flex.astro";
import TableOfContents from "../components/table-of-contents.astro";
import type { MarkdownHeading } from "astro";
export interface Props {
  title: string;
  date: string;
  headings: MarkdownHeading[];
}
const { title, date, headings } = Astro.props as Props;
---

<BaseLayout title={title}>
  <WindowTitleBar sticky>
    <Button text="HOME" url={"/"} size={"small"} elevation={1}>
      <House size={20} weight="fill" />
    </Button>
    <Button text="BLOG" url={"/blog"} size={"small"} elevation={1}>
      <Article size={20} weight="fill" />
    </Button>
  </WindowTitleBar>
  <RetroScroll className="scroll" fullpage>
    <Container padding={2} maxWidth={900}>
      <Button text="BACK" className={"back-button"} url={"/blog"}>
        <ArrowLeft size={25} weight="bold" />
      </Button>
      <Separator />
      <Card padding="1.5em  2em">
        <Flex direction="column">
          <Flex align={"center"}>
            <Article
              size={32}
              weight="bold"
              color="var(--color-card-text)"
              style={{
                marginRight: "1em",
                flexShrink: 0,
              }}
            />
            <h3>{date}</h3>
          </Flex>
          <details class="table-of-contents">
            <summary><b>Table Of Contents</b></summary>
            <TableOfContents headings={headings} />
          </details>
        </Flex>
        <Separator showLine lineHeight={3.5} parentPadding="2em" />
        <MdStyling>
          <slot />
        </MdStyling>
      </Card>
      <Separator marginBottom="2em" />
      <Button text="BACK" className={"back-button"} url={"/blog"}>
        <ArrowLeft size={25} weight="bold" />
      </Button>
    </Container>
  </RetroScroll>
</BaseLayout>

<style is:inline>
  body {
    background-color: var(--color-background);
    overflow: hidden;
  }

  .back-button {
    display: inline-block;
  }

  .table-of-contents {
    cursor: pointer;
    margin-left: 0.2em;
  }
</style>
